<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-no-layout">
	<h2 class="am-titlebar-title ">类型</h2>
</div>
<ul class="admin-fastnav">
	<li ng-repeat="type in gradeOne" ng-class="{active:$index==0}">
		<a href="#">{{type.name}}</a>
	</li>
</ul>
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-no-layout">
	<h2 class="am-titlebar-title ">{{tableHeader}}</h2>
</div>
<table class="am-table am-table-bordered">
	<thead>
	    <tr>
	        <th>编号</th>
	        <th>名称</th>
	        <th>创建时间</th>
	        <th>操作</th>
	    </tr>
	</thead>
    <tbody>
        <tr ng-repeat="type in tableData">
            <td>{{type.id}}</td>
            <td>{{type.name}}</td>
            <td>{{type.createTime}}</td>
            <td>{{type.parentId}}</td>
        </tr>
    </tbody>
</table>
