<div class="am-cf am-padding">
	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">主页</strong></div>
</div>
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-no-layout">
	<h2 class="am-titlebar-title ">快速导航</h2>
	<nav class="am-titlebar-nav">
		<a href="#more" class="">更多»</a>
	</nav>
</div>
<ul class="admin-fastnav">
	<li><a href="#">用户管理</a></li>
	<li><a href="#/system/type_manage">类型管理</a></li>
	<li><a href="#">帖子管理</a></li>
	<li><a href="#">新闻管理</a></li>
</ul>