/* Write your styles */
@charset "utf-8";

/*
 修改Amazeui默认css样式
 * */
/*将标题的下边框去掉*/
.am-titlebar-default{
	border-bottom: 0;
}
#tNav{
	width: 100%;
	background-color: #0e90d2;
	margin-bottom: 20px;
}
#tNav a{
	color: #f2f2f2;
	-webkit-transition: .3s;
		    transition: .3s;
}

#tNav nav a:hover {
	background: rgba(0,0,0,.1);
	color: #fff;
}
#tMain{
	font-size: 14px;
}
